body, html{
  height:100%;
  background: url("src/286702-Batman-artwork-concept_art-Gotham_City-DC_Comics-superhero-skyscraper.jpg") no-repeat center center fixed;
  background-size: cover;

}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
/*  border:10px solid red;
  border-radius:10px;*/
  position:absolute;
}

.batman{
 position: relative;
}


.line{
 top: 50% !important;
 margin: auto;
}

.rotate{
 -webkit-animation: rotation 2s infinite linear;
}
@-webkit-keyframes rotation {
 from {
   -webkit-transform: rotate(0deg);
 }
 to {
   -webkit-transform: rotate(359deg);
 }
}

/*.shy{
  width: 50px;
  height: 50px;
}*/

.shy{

}